*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:system-ui;
}

body{
  background:#050510;
  color:white;
  overflow:hidden;
}

.bg{
  position:fixed;
  width:100%;
  height:100%;
  background: radial-gradient(circle,#6c63ff,#000);
  animation: move 10s infinite alternate;
  z-index:-1;
}

@keyframes move{
  from{filter:blur(40px)}
  to{filter:blur(80px)}
}

.intro,.lock,.content{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.lock,.content{display:none;}

.inputs{
  display:flex;
  gap:10px;
  margin:20px;
}

input{
  width:50px;
  height:60px;
  font-size:30px;
  text-align:center;
  border:none;
  border-radius:10px;
}

button{
  padding:12px 24px;
  border:none;
  border-radius:30px;
  cursor:pointer;
}

.type{
  overflow:hidden;
  white-space:nowrap;
  border-right:2px solid white;
  animation: typing 3s steps(30) forwards;
}

@keyframes typing{
  from{width:0}
  to{width:100%}
}

.cards{
  display:flex;
  gap:20px;
  margin-top:50px;
}

.card{
  width:150px;
  height:200px;
  background:linear-gradient(45deg,#ff4d6d,#6c63ff);
  border-radius:20px;
}

canvas{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
}

.flash::before{
  content:"";
  position:fixed;
  width:100%;
  height:100%;
  background:white;
  animation:flash 0.8s ease;
  z-index:999;
}

@keyframes flash{
  0%{opacity:0}
  20%{opacity:1}
  100%{opacity:0}
}

#content{
  opacity:0;
  transform:scale(1.2);
  transition:1s;
}

#content.show{
  opacity:1;
  transform:scale(1);
}
